---
layout: archive
title: "Music"
permalink: /music/
author_profile: true
---

{% include base_path %}

<p>
  Outside of mathematics (arguably), I'm a self-taught composer specializing in contemporary chamber music. Below is a list of my completed works. To obtain scores, parts, or arrangements for performance, please reach out via email using the sidebar on the left.
</p>

<p>
  (You may also be interested in my work on the <a href="https://soundcloud.com/luc-ta-405760511/sets/planet-112-music-by-luc-ta">soundtrack</a> for Amoriem Labs' game <i>Planet 112</i>, my <a href="https://issuu.com/yalebands/docs/4-12-24_concert_program_final_for_printing_4-10-24">program notes</a> for the concert band arrangement of William Grant Still's <i>Afro-American Symphony</i>, or my <a href="https://youtube.com/playlist?list=PLYZn6AEJG5Oe2wqUsSCAy1TV92Zp6MWi4&si=RLy10in41Tu9rr3s">scoring work</a> from high school.)
</p>

{% for post in site.music reversed %}
  {% include archive-single.html %}
{% endfor %}
